:root {
    --primary-black: #0f172a;
    --primary-blue: #4f46e5;
    --text-gray: #4b5563;
    --bg-white: #ffffff;
    --secondary-blue: #f1f5f9;
    
    --border-light-grey: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sidebar for when there is a project open */
.project-nav {
    margin-bottom: 2em;
}

.project-nav > h3{
    margin-left: 0.5em;
}

