:root {
    --primary-black: #0f172a;
    --primary-blue: #4f46e5;
    --text-gray: #4b5563;
    --bg-white: #ffffff;
    
    --border-light-grey: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

